---
import { createClient } from "@supabase/supabase-js";
import { Image } from 'astro:assets';
import pImage from '../../p.png';
import P3 from "../../components/p3";
import P4 from "../../components/p4";
import P6 from "../../components/p6";
import P5 from "../../components/p5";
import P7 from "../../components/p7";
import P8 from "../../components/p8";
  export async function getStaticPaths() {
    const supabaseUrl = "https://upabdmzybbgsnbonhgmc.supabase.co";
      const supabaseKey =
      "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVwYWJkbXp5YmJnc25ib25oZ21jIiwicm9sZSI6ImFub24iLCJpYXQiOjE2ODExMjg1NTMsImV4cCI6MTk5NjcwNDU1M30.5TeDInNIPfxKeE_KG4GcUEznh4i9wbKjUek935JSq6Y";
      
      
      const supabase = createClient(
      "https://upabdmzybbgsnbonhgmc.supabase.co",
      supabaseKey
      );
const response=await	supabase
	.from("products")
	.select("*").order('id', { ascending: false });
  const {error,data}=response;
  const products=data.map(el=>{
    return {id:el.id, description: el.description,title:el.title,price:el.price}
  })
  // const posts = [
  //   {id: '1', description: "astro", title: "API Reference"},
  //   {id: '2', description: "react", title: "Creating a React Counter!"}
  // ];
  return products.map((product) => {
    return {
      params: { id: product.id },
      props: { product }
    };
  });
}
const {id} = Astro.params;
const {product} = Astro.props;
---
<body>
  <img src="/images/p.png" alt="A bird."> <P4></P4>
   <P3></P3>
   <P6></P6>
   <P5 title={product.title} price={product.price} client:visible>
  	<h1>Hello, Preact 1!</h1>
  </P5>
   <P7 description={product.description}></P7>

</body>